@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	header.main-header
		.header-footer
			.main-nav
				padding-bottom: 46px
				ul
					li
						margin-right: 25px
			
	footer.main-footer
		.copyright
			p
				font-size: 13px
				line-height: 14px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	header.main-header
		.header-footer
			.main-nav
				padding-bottom: 46px
				ul
					li
						margin-right: 14px
						a
							font-size: 17px
							line-height: 17px
			.std-banner
				width: 100%
				display: block
				.left-side
					display: block
				.right-side
					display: none
			.rules
				padding-left: 10px
				padding-right: 10px
				&:before
					display: none
	section.advices
		.advice-services
			text-align: center
			.service
				&:nth-child(even)
					margin-right: 0


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	header.main-header
		.toggle-mnu
			display: block
		.logo
			margin-right: auto
		.contact-wrap
			text-align: left
			.contact
				display: block
				text-align: left
		.logo
			.svg-wrapper
				width: 86px
				height: 86px
			p
				font-size: 16px
				line-height: 16px
				+kerning(1.8)
				&.name
					font-size: 30px
					line-height: 31px
		.header-footer
			.main-nav
				display: none
			.std-banner
				.left-side
					.context
						padding-top: 20px
						padding-bottom: 20px
						padding-left: 10px
						padding-right: 10px
						h1
							font-size: 48px
							line-height: 49px
						h2
							font-size: 38px
							line-height: 39px
	section.services
		.service
			margin-left: auto
			margin-right: auto
			width: 100%
			max-width: 100%
	section.text-section
		h1

		img
			float: none
			width: 100%
			margin-top: 0
			margin-left: 0
			margin-bottom: 20px
	footer.main-footer
		padding-top: 0
		h3
			border-bottom: 1px solid #dee1e3
			padding-bottom: 5px
			margin-bottom: 23px
			margin-top: 28px
		.developers
			position: relative
			font-size: 14px
			line-height: 15px
			margin-top: 10px
	section.advices
		.advice-services
			text-align: center
			.service
				margin-right: 0
				display: block
				width: 100%
				max-width: 100%
				&:nth-child(even)
					margin-right: 0
	section.blog-articles,
	section.contacts-section,
	section.my-sertificates
		border-top: none

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	header.main-header
		.logo
			margin-right: auto
			display: block
			text-align: center
			.img,
			.text
				display: block
				padding-left: 0
			.img
				display: inline-block
				margin-bottom: 10px
		.contact-wrap
			text-align: center
			.contact
				display: block
				text-align: center
				margin-top: 20px
				.std-btn
					margin-left: auto
					margin-right: auto
		.header-footer
			.owl-carousel
				display: block
				.item
					.text
						width: 100%
						padding: 11px 15px 13px 15px
						p
							font-size: 18px
							line-height: 24px
							font-family: "Exo2extralightcondensed",sans-serif
							padding: 0px
							margin: 0px
			.std-banner
				.left-side
					.context
						h1
							font-size: 38px
							line-height: 39px
						h2
							font-size: 28px
							line-height: 29px
			.rules
				padding-left: 0
				padding-right: 0
				h2
					font-size: 25px
					line-height: 29px
	form.faq-form
		padding-left: 7px
		padding-right: 7px
		.form-elements
			.form-group
				display: block
				.form-control
					display: block
	section.reviews-section
		.review
			padding: 0px
	section.contacts-section
		.contacts
			padding: 21px 15px 34px 15px
			table
				tr
					td
						line-height: 34px
						&:last-child
							padding-left: 18px
							font-size: 24px
							line-height: 34px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

